$container-max-widths: (xl: 1170px,
) !default;

$mainColor: #23b7a4;
$baseColor:#292f36;

$font-family-sans-serif:"Open Sans",
sans-serif;
$font-weight-base: 300;
$line-height-base: 1.6em;
$body-color: #8d8f92;

$navbar-nav-link-padding-x:16px;